<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Заполнение</title>
</head>
<body>
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="menu mm">
        <span class="fs-4">Fastdobeg store</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/help">Помощь</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="/reviews">Отзывы</a>
      </nav>
    </div>
  </header>
</div>
<div id="form_input">
<form method="post">
    <input type="email" name="email" placeholder="Введите почту"><br>
    <input type="password" name="password" placeholder="Введите пароль"><br>
    <button class="btn btn" type="submit">Отправить</button>
</form>
</div>
</body>
</html>