<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style-help.css') }}" rel="stylesheet">
    <title>Помощь</title>
</head>
<body>
<div id="particles-js"></div>
<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="menu mm">
                <span class="fs-4">Fastdobeg store</span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/help">Помощь</a>
                <a class="py-2 link-body-emphasis text-decoration-none" href="/reviews">Отзывы</a>
            </nav>
        </div>
    </header>
    <section>
        <div class="question que">
            <a href="#ans1">1 вопрос</a>
            <a href="#ans2">2 вопрос</a>
            <a href="#ans3">3 вопрос</a>
            <a href="#ans4">4 вопрос</a>
            <a href="#ans5">5 вопрос</a>
            <a href="#ans6">6 вопрос</a>
            <a href="#ans7">7 вопрос</a>
            <a href="#ans8">8 вопрос</a>
            <a href="#ans9">9 вопрос</a>
            <a href="#ans10">10 вопрос</a>
        </div>
        <div class="answers a">
            <a class="answer ans1" id="ans1">1 ответ</a>
            <a class="answer ans2" id="ans2">2 ответ</a>
            <a class="answer ans3" id="ans3">3 ответ</a>
            <a class="answer ans4" id="ans4">4 ответ</a>
            <a class="answer ans5" id="ans5">5 ответ</a>
            <a class="answer ans6" id="ans6">6 ответ</a>
            <a class="answer ans7" id="ans7">7 ответ</a>
            <a class="answer ans8" id="ans8">8 ответ</a>
            <a class="answer ans9" id="ans9">9 ответ</a>
            <a class="answer ans10" id="ans10">10 ответ</a>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"
            integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>