<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт илюхи dotaty(da was true)</title>
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
    <body>
    <h1 align="center" style="color:white">Я ВЕРНУЛСЯ ТРОЛИТЬ ИГРЫ</h1>
        <a href="{{form}}">
            <img align="right" src="https://distribution.faceit-cdn.net/images/c8d746f8-8fc0-41fd-95d1-571cca863ac2.jpeg" alt="fastdobeg" width="500" height="500">
        </a>
    <a href="{{form}}">заполнить форму</a>
<ol style="font-size:150%">заселил 2623 ело, траты:
  <li>не троленые
    <ol>
      <li><a id="ad" href="https://web.telegram.org/a/#852869148"> дропанул киске 500(юльке)</a></li>
      <li>дропанул бабушке 500</li>
    </ol>
  </li>
  <li> в пизду
    <ol>
      <li>ебанул 2к на бетбум с богом</li>
      <li>ебанул даньку 30 на телефонию</li>
      <li>576 оставил в активах</li>
    </ol>
  </li>
</ol>
    </body>
</html>